#   an i3wm configuration. Carter Adams. 2018 - the end of time
#

# designed for a combined gnome-flashback i3 session

set $terminal terminator
set $browser brave-browser
set $ingognitobrowser brave-browser --incognito
set $defaultfolder ~/FastFolder
set $autolaunch bash ~/binfiles/startup

exec bash ~/binfiles/flashback-panel.sh

# launch my startupscript
exec $autolaunch

# mod key is Windows
set $mod Mod4

# i3status bar. config in ~/dotfiles/i3/i3.status.config
bar {
        status_command i3status
        tray_output primary
        font pango:Dejavu Sans Mono 18 
}

# swap escape and caps at launch (~/binfiles/swesc will do this too)
exec /usr/bin/setxkbmap -option "caps:swapescape"

# font for window titles
font pango:monospace 18

# mod + mouse to move floating windows
floating_modifier $mod

# leave fullscreen mode if a window opens
popup_during_fullscreen leave_fullscreen

# mod + shift + q to kill a window
bindsym $mod+Shift+q kill

# start dmenu
bindsym $mod+d exec export PATH=$PATH && dmenu_run -fn 'DejaVu Sans Mono-18'

# change focus with mod + arrows
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# mod + shift + vim directions to move windows
bindsym $mod+Shift+h move left
bindsym $mod+Shift+k move down
bindsym $mod+Shift+j move up
bindsym $mod+Shift+l move right

# (note mod + vim keys currently unbound, but mod+l is a
# gnome flashback command for lock screen

# mod + shift + arrows to resize windows (imagine window in top-left)
bindsym $mod+Shift+Left resize shrink width 2 px or 2 ppt
bindsym $mod+Shift+Down resize grow height 2 px or 2 ppt
bindsym $mod+Shift+Up resize shrink height 2 px or 2 ppt
bindsym $mod+Shift+Right resize grow width 2 px or 2 ppt

# mod b, mod v makes next window split left-right / top-bottom
bindsym $mod+b split h
bindsym $mod+v split v

# mod f: go fullscreen, mod s: stack window group, mod e: change split style
bindsym $mod+f fullscreen toggle
# mod s: stacking mode
bindsym $mod+s layout stacking
# mod e: switch vert layout to horizontal and back
bindsym $mod+e layout toggle split

# mod+shift+space toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# mod+space change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# mod+a focus parent, mod+shift+a focus child
bindsym $mod+a focus parent
bindsym $mod+Shift+a focus child

# mod+number switch workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# mod+shift+number move window to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10
# mod+shift+r restart i3, mod+shift+e confirm logout, mod+ctrl+e no-confirm
bindsym $mod+Shift+r restart

# old i3-quit disabled for gnome-session-quit

# bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"
bindsym $mod+Shift+e exec gnome-session-quit

# Application launchers

# mod+enter launches terminal
bindsym $mod+Return exec $terminal
# mod+u opens browser
bindsym $mod+u exec $browser

# mod+shift+enter launches gnome-terminal
bindsym $mod+Shift+Return exec "gnome-terminal"
# mod+Shift+u opens browser in incognito
bindsym $mod+Shift+u $incognitobrowser
# mod+Shift+b loads random background image
bindsym $mod+Shift+b exec rbg
# mod+Shift+f opens the file manager
bindsym $mod+Shift+f exec xdg-open $defaultfolder
# mod+Shift+t opens todo list
bindsym $mod+Shift+t exec $todocommand

# Webcam headshot setup
for_window [class="ffplay"] floating enable
for_window [class="ffplay"] border pixel 2
for_window [class="ffplay"] resize set 240 180
for_window [class="ffplay"] move position 1680 0
for_window [class="ffplay"] sticky enable

bindsym $mod+Ctrl+1 [class="ffplay"] kill; exec "ffplay /dev/video0"; [class="ffplay"] move position 1680 0
bindsym $mod+Ctrl+2 [class="ffplay"] resize set 240 180; [class="ffplay"] move position 1680 880
bindsym $mod+Ctrl+3 [class="ffplay"] resize set 240 180; [class="ffplay"] move position 0 880
bindsym $mod+Ctrl+4 [class="ffplay"] resize set 240 180; [class="ffplay"] move position 0 0
bindsym $mod+Ctrl+5 [class="ffplay"] resize set 480 360; [class="ffplay"] move position 1440 0
bindsym $mod+Ctrl+6 [class="ffplay"] resize set 480 360; [class="ffplay"] move position 1440 700
bindsym $mod+Ctrl+7 [class="ffplay"] resize set 480 360; [class="ffplay"] move position 0 700
bindsym $mod+Ctrl+8 [class="ffplay"] resize set 480 360; [class="ffplay"] move position 0 0

bindsym $mod+Ctrl+0 [class="ffplay"] kill;
